body {
    background-color: #FFF9EB; /* Mengubah warna latar belakang */
}

.navbar {
    background-color: #FFC533;
    padding: 1rem;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.user-box {
    background-color: #12101C;
    border-radius: 16px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
}

.user-icon {
    font-size: 24px;
    color: #FFC533;
}

.user-box span {
    color: #FFC533;
    font-weight: bold;
    margin-left: 10px; /* Menambahkan jarak antara ikon dan tulisan EO */
}

.kelola-title {
    font-size: 60px;
    font-weight: bold;
}

.tambah-event-btn {
    background-color: #FFC533;
    color: #12101C;
    font-weight: bold;
    border-radius: 17px;
    transition: background-color 0.3s ease;
    width: 310px; /* Menetapkan lebar tombol */
    height: 71px; /* Menetapkan tinggi tombol */
    font-size: 32px; /* Mengatur ukuran font tombol */
    display: flex; /* Untuk memusatkan teks dalam tombol */
    justify-content: center; /* Memusatkan teks secara horizontal */
    align-items: center; /* Memusatkan teks secara vertikal */
}

.tambah-event-btn:hover {
    background-color: #e6b800;
}

.event-card {
    background-color: #FFDC85;
    border-radius: 16px;
    border: none; /* Remove any border */
    box-shadow: none; /* Remove any shadow that might give the appearance of a border */
}

.event-image {
    height: 200px;
    background-color: #E0E0E0;
    border-radius: 8px;
}

.detail-btn {
    background-color: #12101C;
    color: #FFC533;
    font-weight: bold;
    border-radius: 8px;
}

/* Styling untuk tautan navbar */
.nav-link {
    font-weight: bold; /* Menebalkan teks */
    font-size: 20px; /* Mengatur ukuran font menjadi 20px */
    margin-right: 40px; /* Menambahkan jarak kanan antar item */
}

/* Jika Anda ingin menghilangkan margin pada item terakhir */
.nav-item:last-child .nav-link {
    margin-right: 0; /* Menghilangkan margin pada item terakhir */
}

@media (max-width: 768px) {
    .kelola-title {
        font-size: 40px;
    }
}

