* {
    box-sizing: border-box;
}
body {
height: 100%;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff7e6;
font-family: "Plus Jakarta Sans", sans-serif;
}

/* Header styling */
.header {
position: absolute;
top: 0;
width: 100%;
padding: 20px;
background-color: #fbbd08;
display: flex;
justify-content: space-between;
align-items: center;
}
.header h1 {
margin: 0;
color: #000;
font-weight: 700;
}
.header .auth-buttons {
display: flex;
gap: 10px;
}
.header .auth-buttons a {
padding: 10px 20px;
border: 2px solid white;
border-radius: 20px;
text-decoration: none;
color: #000;
background-color: white;
font-weight: 600;
}
.header .auth-buttons a:hover {
background-color: #ffe8a1;
}

/* Form container */
.reset-card {
    background-color: white;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 500px;
    margin-top: 175px;
}
.reset-card h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: #000;
}
.reset-card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

/* Input styling */
.reset-card label {
    font-weight: 600;
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}
.reset-card input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

/* Button styling */
.reset-card button {
    margin-top: 20px;
    background-color: #fbbd08;
    color: #000;
    border: none;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
}
.reset-card button:hover {
    background-color: #FFD966;
}